In [1]:
from filehandling import *
import pandas as pd

data_df = pd.read_csv( file_name )

/tmp/ipykernel_9329/1919324147.py:4: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df = pd.read_csv( file_name )

In [7]:
data_df.head()

,LOB,LOB Description,Market Segment,Alt Member Number,PAT_MRN_ID,Coverage ID,Plan Group ID,Corporation,Plan Group Name,Gender,...,Referring Provider,Referring Provider Type,Referring Provider Specialty,Referring Provider Service Area,Member Service Area,Provider Service Area,Health System,True Plan,Service Type,Fraud YN
0,IEX,On-Exchange Individual,Individual,85e8dc2d46e9ee108fa6824f7d396cb1485a21f0a13af4...,9e636d32e7e9abe206bb1c1fac8e4790830fc7be170403...,a018f9a3494387d20fc4a8017abc35ba4905f02e62b8b9...,NaN,IEXSDM,SD SIMPLICITY $6000 BRONZE IEX,F,...,586e5311349e434f94578981add18d71fe381adc7bab78...,NaN,NaN,NaN,NaN,South Dakota Northeast,NaN,NO,NaN,No
1,IEX,On-Exchange Individual,Individual,10d8d712b1b9141d1ddf968d5bd55432ebe0e9678e42e3...,32ba5e786c74dd17341925598f9b1517d566c0e0fbbfec...,1282ef02a9b1012131ca467aef349da6c9c857d7dfa1c3...,NaN,IEXNDM,ND SIMPLICITY $6000 BRONZE IEX,F,...,586e5311349e434f94578981add18d71fe381adc7bab78...,NaN,NaN,NaN,NaN,North Dakota Northwest,NaN,NO,NaN,No
2,IEX,On-Exchange Individual,Individual,9fe43d716c24a3d261f6b8cea5f7ac069d2c24e86af4a9...,65ba9a358ea0dc28033dd249b7e91bf01b15fe4496703f...,4dde570b49ac187ed19b1b19e71002961c4a244cdaeef2...,NaN,IEXNDM,ND SIMPLICITY $4750 SILVER 94% IEX,F,...,586e5311349e434f94578981add18d71fe381adc7bab78...,NaN,NaN,NaN,NaN,South Dakota West River,NaN,NO,NaN,No
3,IET,INDIVIDUAL ON EXCHANGE TRUE NETWORK,Individual,652e0e344530fdeca45f87950ffe13eda06d05e3698ed9...,0376546f482ec674f9560697321a5718bee318850e0a69...,81e4950b766d3fda8be8a3bb80e8778d741d09090541ee...,NaN,TRUE ND IET,ND TRUE SILVER $4750 94% IET,M,...,586e5311349e434f94578981add18d71fe381adc7bab78...,NaN,NaN,NaN,NaN,Fargo,NaN,YES,NaN,No
4,IET,INDIVIDUAL ON EXCHANGE TRUE NETWORK,Individual,7fa23649e0232b5d17ad88dcc79be76f4c4fbf46efca79...,8d934bf5ee69e68b4b5e2191f2a25e3b0b5a50e83dcb59...,5ee5d5f02142bc88f658e60b0d5d6717b250f9a81e4127...,NaN,TRUE ND IET,ND TRUE ALT SILVER $3500 87% IET,F,...,586e5311349e434f94578981add18d71fe381adc7bab78...,NaN,NaN,NaN,NaN,Bismarck,NaN,YES,NaN,No

In [3]:
# make a text file, unique.txt, that gets some basic label information
get_uniques( data_df )

getting unique
writing to unique
finished writing to unique

In [4]:
print(data_df.columns[87])

Fraud YN

In [ ]:
min(data_df["Billed Amount"])

In [6]:
data_df.dtypes

LOB                       object
LOB Description           object
Market Segment            object
Alt Member Number         object
PAT_MRN_ID                object
                          ...
Provider Service Area     object
Health System            float64
True Plan                 object
Service Type             float64
Fraud YN                  object
Length: 88, dtype: object

In [23]:
#write a first draft of what the best dtypes should be and store in txt
with open("dtype.txt","w") as fout:
    
    fout.write("{\n")
    
    for i in range( len( data_df.columns ) ):

        label = data_df.columns[i]

        # if the default data type is "object", we really just 
        # want a string
        # otherwise we can keep the automatically assigned
        # data type.
        corrected_type = "str"
        if data_df.dtypes[label] != object:
            # use np. infront of datatype because float64 and int64
            # are not in standard python
            corrected_type = "np." + str( data_df.dtypes[label] )
        fout.write(f"    '{label}' : {corrected_type}")

        if( i + 1 != len( data_df.columns ) ):
            fout.write(",\n")
        
    fout.write("\n}\n")